[build]
target = "x86_64-unknown-none"

[target.x86_64-unknown-none]
linker = "ld.lld"
rustflags = [
    "-C", "no-redzone=yes",
    "-C", "relocation-model=pic",
    "-C", "panic=abort",

    "-C", "link-arg=--entry=kernel_main",
]
runner = "./make_and_run_qemu.sh"

[unstable]
build-std = ["core", "compiler_builtins", "alloc"]
build-std-features = ["compiler-builtins-mem"]
